/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: #828282;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.title-container h2 {
  color: #003B4D;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  position: relative;
  padding-top: 2rem;
}
.the-header:before {
  content: '';
  background: url(../images/header-top-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 450px;
  position: absolute;
  top: 0;
  left: 25%;
}
.the-header:after {
  content: '';
  background: url(../images/header-top-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 450px;
  position: absolute;
  top: 0;
  right: 25%;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: url(../images/footer-vector.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-hero-container {
  margin-top: -5rem;
}
.main-hero-container .main-hero-content-left {
  font-size: 1.7rem;
  font-weight: 400;
  padding-top: 3rem;
  line-height: 2.2rem;
}
.main-hero-container .main-hero-content-left h1 {
  color: #003B4D;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 900;
  font-size: 3.3rem;
}
.main-hero-container .main-hero-content-left h1 strong {
  color: #7BADD3;
  font-weight: 900;
}
.main-hero-container .main-hero-content-right {
  text-align: right;
}
.main-about-container {
  padding: 5rem 1rem;
  padding-bottom: 3rem;
  margin-top: -2rem;
  background: url(../images/big-vector.png);
  background-size: 70%;
  background-repeat: no-repeat;
}
.main-about-container .main-about-content-left {
  position: relative;
  font-size: 1.1rem;
  line-height: 2.4rem;
  text-align: justify;
  padding-top: 5rem;
  padding-right: 0;
}
.main-about-container .main-about-content-left:before {
  content: ' ';
  background: url(../images/text-vector-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 107px;
  width: 90px;
  margin-left: 4rem;
}
.main-about-container .main-about-content-left h4 {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  color: #7BADD3;
}
.main-about-container .main-about-content-left h2 {
  text-align: left;
  color: #003B4D;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.3rem;
  margin-bottom: 2.5rem;
}
.main-about-container .main-about-content-right {
  position: relative;
  font-size: 1.1rem;
  line-height: 2.4rem;
  text-align: justify;
}
.main-about-container .left-2:before {
  position: absolute;
  top: 10rem;
  left: 4rem;
  margin-left: 0;
  transform: rotate(180deg);
  display: inline-block;
}
.main-info-container {
  padding: 3rem 1rem;
}
.main-info-container .main-info-content-title {
  position: relative;
}
.main-info-container .main-info-content-title:before {
  content: '';
  background: url(../images/text-vector-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 5px;
  height: 70px;
  width: 70px;
  transform: rotate(180deg);
  display: inline-block;
}
.main-info-container .main-info-item {
  text-align: center;
  margin-top: 2rem;
}
.main-info-container .main-info-item .main-info-wrapper {
  position: relative;
  background: #F2F2F2;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.main-info-container .main-info-item .main-info-wrapper:after {
  content: '';
  position: absolute;
  right: -67px;
  bottom: 70px;
  border-bottom: 35px solid transparent;
  border-left: 35px solid #f2f2f2;
  border-right: 35px solid transparent;
  border-top: 35px solid transparent;
}
.main-info-container .main-info-item .main-info-number {
  background: url(../images/number-vector2.png);
  background-position: center center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: 36.5%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.main-info-container .main-info-item .main-info-number span {
  margin-left: -12px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #003B4D;
}
.main-info-container .main-info-item .main-info-content {
  padding: 3.5rem 0;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  min-height: 210px;
}
.main-info-content-posttitle {
  text-align: center;
  margin-top: 3rem;
}
.main-info-content-posttitle .main-info-posttitle-arrow {
  height: 15px;
  border-left: 1px solid #adadad;
  border-right: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1.5rem;
  position: relative;
}
.main-info-content-posttitle .main-info-posttitle-arrow:after {
  content: ' ';
  background: #adadad;
  position: absolute;
  bottom: -12px;
  left: 49.5%;
  height: 12px;
  width: 1px;
}
.main-info-content-posttitle h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.main-info-big-image img {
  width: 100%;
}
.main-tech-container {
  padding: 5rem 1rem;
}
.main-tech-container .main-tech-item .main-tech-item-wrapper {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  min-height: 220px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 34px;
}
.main-tech-container .main-tech-item .main-tech-item-wrapper .main-tech-number span {
  background: url(../images/number-vector.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 2.3rem;
  font-weight: 600;
  color: #003b4d;
  padding: 9px;
  padding-left: 0;
  padding-right: 1rem;
  display: inline-block;
  width: 60px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  margin-top: -1.8rem;
  margin-bottom: 1.5rem;
}
.main-slogan-container {
  position: relative;
  padding: 6rem 1rem;
  text-align: center;
  background-size: cover !important;
  background-position: center center !important;
}
.main-slogan-container:before {
  content: ' ';
  background-color: rgba(0, 59, 77, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.main-slogan-container .main-slogan-content {
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.8rem;
}
.main-slogan-container .main-slogan-content:before {
  content: ' ';
  background: url(../images/slogan-vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -6rem;
  top: -12vh;
  width: 250px;
  height: 250px;
}
.main-slogan-container .main-slogan-content:after {
  content: ' ';
  background: url(../images/slogan-vector2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -6rem;
  bottom: -18vh;
  width: 150px;
  height: 150px;
}
.main-team-container {
  position: relative;
  padding: 6rem 1rem;
}
.main-team-container .team-sub-title {
  text-align: center;
  padding-bottom: 2rem;
}
.main-team-container .team-sub-title h3 {
  color: #7BADD3;
}
.main-team-container .team-item-wrapper {
  padding: 0.7rem 1rem;
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 2rem;
}
.main-team-container .team-item-wrapper h4 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #003B4D;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.main-team-container .team-item-wrapper .team-item-content {
  font-family: 'Questrial', sans-serif;
  font-size: 0.8rem;
}
.main-team-container .team-item-wrapper .team-item-content strong {
  font-weight: 400;
  color: #7BADD3;
}
.main-team-container .team-item-wrapper .team-item-sub-title {
  color: #7BADD3;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1rem;
}
.main-work-container {
  position: relative;
  padding: 6rem 1rem;
}
.main-work-container .main-work-description-container {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.main-work-container .custom-accordion .card {
  border: 0;
  border-radius: 0;
}
.main-work-container .custom-accordion .card:first-child {
  border-bottom: 1px solid #e0e0e0;
}
.main-work-container .custom-accordion .card-header {
  background: none #0000;
  border: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}
.main-work-container .custom-accordion .card-header .btn {
  border-radius: 0;
  padding: 1rem 0;
  font-weight: 700;
  position: relative;
  font-size: 1.2rem;
  color: #003B4D;
  text-decoration: none;
}
.main-work-container .custom-accordion .card-header .btn:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.main-work-container .custom-accordion .card-header .btn span {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  color: #7BADD3;
}
.main-work-container .custom-accordion .card-header .btn .close-btn {
  border: 2px solid #003B4D;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  top: 33%;
  right: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg);
}
.main-work-container .custom-accordion .card-header .btn .close-btn:before {
  content: '';
  background: #003B4D;
  position: absolute;
  top: 13px;
  left: 6px;
  width: 15px;
  height: 1px;
}
.main-work-container .custom-accordion .card-header .btn .close-btn:after {
  content: '';
  background: #003B4D;
  position: absolute;
  top: 13px;
  left: 6px;
  width: 15px;
  height: 1px;
  transform: rotate(90deg);
}
.main-work-container .custom-accordion .card-header .collapsed .close-btn {
  border: 2px solid #7BADD3;
  transform: rotate(0deg);
}
.main-work-container .custom-accordion .card-header .collapsed .close-btn:before {
  background: #7BADD3;
}
.main-work-container .custom-accordion .card-header .collapsed .close-btn:after {
  background: #003B4D;
}
.main-work-container .custom-accordion .card-body {
  padding: 1rem 0;
}
.main-work-container .custom-accordion .card-body strong {
  color: #7BADD3;
}
